body{
  background-color: $color-desk;
  font-family: veraType, Courier New, monospace;
}

#app {
  position: relative;
  overflow-x: hidden;
  @include theme-aware('color', 'color-text', $themes);
}

.paper {
  position: relative;
  margin: 5% 15% 5% 5%;
  @include theme-aware('background-color', 'color-paper', $themes);
  padding: 3em;

  @include up-to('sm') {
    margin-top: 10%;
  }

  @include up-to('xs') {
    margin-top: 15%;
    margin-right: 5%;
    padding-right: 1em;
    padding-left: 1em;
  }
}

.field .field__name,
.section__title {
  color: $color-titles;
}

.field,
.project {
  margin-bottom: $field-inter-spacing;
}

// Note: Fields in a field group actually have a double spacing between them: the inter-spacing
// (between each field) and the intra-spacing (between fields name). However, the divs
// wrapping this fields usually ignore the size of its contents (and the intra-spacing),
// leaving only the inter-spacing and avoid the double space. This doesn't happen when the
// field group is aligned in two columns (wrapper div display is inline-block and fits its
// content) and to avoid the double space the intra-spacing shouldn't be applied.
// Aaand.. that's why there's a ':not(.field--twocolumn)'
.field .field__name,
.field__group:not(.field--twocolumn) div,
.section__title,
.project .project__details div {
  margin: 0px 0px $field-intra-spacing 0px;
}

p.field__text, p.polaroid-film__caption {
  line-height: $field-text-intra-spacing;
  margin-bottom: $field-text-inter-spacing;
}

hr {
  border-top: none;
  border-bottom: dotted $color-divider;
  margin: $field-inter-spacing 0px;
}

h1 {
  font-size: 2.5em;
  @include up-to('xs') {
    font-size: 2em;
  }
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25rem;
}