/* 
 * Main settings
 */
 $min-font-size: 9px;

/* 
 * Main colors (apply for both light and dark theme)
 */
$color-desk: #855532;
$color-titles: #C3272E;
$color-logos-main: #C3272E;
$color-divider: #C3272E;
$color-progress-filled: #C3272E;
$color-progress-empty: #F6DEDF;
$color-nav: #000; // used with $nav-color-opacity in rgba(color, opacity)

/* 
 * Spacing
 */
$field-inter-spacing: 1em; // Spacing between fields
$field-intra-spacing: $field-inter-spacing/3; // Spacing between field name and text
$field-text-intra-spacing: 1em + $field-inter-spacing/3; // Spacing between lines in field text
$field-text-inter-spacing: 0.5em; // Spacing between field texts

/* 
 * Nav settings
 */
$nav-links-size: 1.25rem;
$nav-color-opacity: 0.4;

/* 
 * Breakpoints
 */
$screen-bp-min: ( 
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$screen-bp-max: (
  xs: map-get($screen-bp-min, 'sm'),
  sm: map-get($screen-bp-min, 'md'),
  md: map-get($screen-bp-min, 'lg'),
  lg: map-get($screen-bp-min, 'xl')
);