.background__item {
  position: absolute;
  @include theme-aware('filter', 'background-brightness', $themes);
  // filter: brightness($background-brightness);

  &.folder {
    height: 100%;
    z-index: -1;
    right: 0;
    top: 0;
    transform: rotate(-10deg) translateY(5%) translateX(5%);
  }

  &.pen {
    height: 15%;
    width: auto;
    z-index: 1;
    right: 5%;
    top: 30%;
  }

  &.typewriter {
    height: 30%;
    width: auto;
    z-index: 1;
    right: 0;
    bottom: 10%;
    transform: translateX(40%);
  }
}