.background__item {
  position: absolute;
  @include theme-aware('filter', 'background-brightness', $themes);

  // Avoid showing on smaller screens
  @include up-to('md') {
    display: none;
  }

  &.folder {
    height: 100%;
    z-index: -1;
    right: -10em;
    top: 0;
  }

  &.pen {
    @include resizeAspectRatio(15%);
    z-index: 1;
    top: 30%;
    right: -4em;
    @include from('lg') {
      right: 0;
    }
    @include from('xl') {
      right: 5%;
    }
  }

  &.typewriter {
    @include resizeAspectRatio(30%);
    z-index: 1;
    right: 0;
    bottom: 10%;
    transform: translateX(20em);
    @include from('lg') {
      transform: translateX(15em);
    }
    @include from('xl') {
      transform: translateX(10em);
    }
  }
}