.field__group.field__education, #Education .polaroid-film {
  display: inline-block;
}

.field__group.field__education {
  vertical-align: top;
  margin-top: 0;

  @include lg {
    margin-top: 2em;
  }
}

#Education .polaroid-film {
  display: inline-block;
  margin: -0.5em 2em 1em 0;
}