#nav {
  z-index: 2;
  display: inline-block;
  position: fixed;
  margin-top: 10%;
  right: 0;
  text-align: right;
  white-space: nowrap;
}

.nav__collapse-button {
  display: inline-block; // stay next to nav menu
  vertical-align: top;
  border-radius: 10px 0 0 10px;
  background-color: rgba($color-nav, $nav-color-opacity);
  cursor: pointer;

  @include smooth-hover-anim(rgba($color-logos-main, .5), .2s, background-color);

  svg {
    height: 3rem;
    width: 2rem;
  }

  // large screens don't need a collapsing menu
  @include from('xl') { 
    display: none;
  }
}

.nav__menu {
  display: inline-block;
  padding: 1px 1em 1px 1em; // 1px because <a> margin will act as top bottom padding
  background-color: rgba($color-nav, $nav-color-opacity);
  text-align: right;
  border-bottom-left-radius: 10px; // top corner has the collapse button

  // Collapsed styles
  overflow: hidden;
  width: 70%; // to show transition width must be defined.
              // making it wider will overflow container and mess with text styles
  transition: width .5s;

  &.collapsed {
    padding: 0;
    width: 0;
  }

  @include from('xl') {
    border-top-left-radius: 10px; // no collapsed button
    width: 80%;
  }

  a {
    display: block;
    font-family: "veraType";
    color: #fff;
    font-size: $nav-links-size;
    margin: 1em 0;

    @include smooth-hover-anim(lighten($color-logos-main, 10%), .2s, color);
  }
  
}

.nav__options {
  text-align: center;
  z-index: -1; // behind nav menu but in front
               // of everything else (#nav { z-index: 2 })
  
  @include up-to('md') {
    font-size: calc(8px + 1vw);
  }

  @include up-to('lg') {
    position: fixed;
    top: 0;
    @include absolute-center;
  }

  &.hide-text span {
    height: 0;
  }

  // From: https://fvsch.com/articles/transition-fade/test5.html
  @include up-to('sm') {
    &.visible {
      visibility: visible;
      opacity: 1;
      transition: opacity .3s linear;
    }
    &.hidden {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s .3s, opacity .3s linear;
    }
  }
}

.nav__option {
  display: inline-block;
  margin: 1em;
  cursor: pointer;

  // XL screens styles
  margin-bottom: 0;

  @include up-to('lg') {
    @include theme-aware(color, color-text, $themes);
  }

  @include from('lg') {
    color: #fff;
  }

  span {
    display: inline-block;

    vertical-align: top; // make animation go from bottom
                         // to top, instead of to the center
    transition: height .5s, color .2s;

    @include up-to('lg') {
      // wrap text, width needed or else it expands
      white-space: normal;
      width: 5.5em;

      // Height must be bigger than the content
      // to avoid hidding the overflow.
      // The overflow is needed to hide content
      // when the animation makes height=0
      height: 3em;
      overflow: hidden;
    }
  }

  button {
    display: block;
    @include squared-size(3rem);
    @include block-center;
    margin-bottom: 0.2rem;
    border: 0;
    border-radius: 100%;
    background-color: rgba($color-nav, $nav-color-opacity);
    cursor: pointer;
    transition: background-color .2s;
    
    svg {
      vertical-align: middle;
      @include squared-size(1.5rem);
    }
  }
  &.language button {
    // Language has text instead of a svg
    font-size: 1.5rem;
    color: #fff;
    font-family: inherit; // Vera Type
  }

  // Change color of button and span on hover
  // Transitions for both have been set previously
  &:hover {
    button { background-color: rgba($color-logos-main, .5) }
    span { color: lighten($color-logos-main, 10%); }
  }
}