#Skills .section__content {
  display: flex;
  flex-wrap: wrap;

  @include up-to('md') {
    width: 90%;
  }
}

#Skills .field.field__group {
  position: relative;
  display: inline-block;
  padding-right: 5em;

  @include from-custom-screen(1355px) {
    padding-right: 1em;
  }

  .field {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    @include up-to-custom-screen(370px) {
      flex-direction: column;
    }
  }

  .field__text {
    @include from-custom-screen(370px) {
      margin-left: 1em;
    }
    
    display: inline-block;
    white-space: nowrap;

    .progress-bar {
      display: inline;
    }

    .logo {
      width: 4rem;
      display: inline-block;
      text-align: center;
    }

    .logo svg {
      @include resize-aspect-ratio(1rem);
      path { fill: $color-logos-main; }
    }
  }
}

#Skills .field__others {
  width: 100%;

  @include from('sm') {
    display: inline-flex;
      .field__text {
      margin-left: 1em;
    }
  }
}
