@import "../../index.scss";

.field__group.field__education, #Education .polaroid-film {
  display: inline-block;
}

.field__group.field__education {
  vertical-align: top;
}

#Education .polaroid-film {
  position: relative;
  transform: translateY(-30%); // don't apply on small screens
  margin: 0px 10%; // don't apply on small screens
}