@import '../../index';

$field-space: 1em; // Space between fields
$line-space: $field-space/2; // Space between fields inner lines

.header-field {
  margin-bottom: $field-space;
}

h1, h2, .accounts div {
  margin: 0px 0px $line-space 0px;
}

h1 { font-size: 3rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }

.logo svg{
  @include resizeAspectRatio(1rem);
  margin-right: 0.5em;
  path {
    fill: $color-logos;
  }
}

.accounts>div {
 @include twoColumnContent(7.5rem);
}