@import '../index';

.paper{
  font-family: 'veraType';
  background-color: $color-paper;
  margin: 5% 20% 5% 5%;
  padding: 3em;
}

.field .field__name{
  color: $color-titles;
}

hr {
  border-top: none;
  border-bottom: dotted $color-divider;
}

h1 { font-size: 3rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }