#app::before {
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 60rem;
  content: "";
  z-index: -1;
  background: url("../assets/images/background/folder.svg") top right no-repeat;
  transform: rotate(-10deg) translateY(5%) translateX(5%);
}

#app::after {
  position: absolute;
  bottom : 0;
  height: 100%;
  width: 100%;
  min-width: 60rem;
  content: "";
  background:
    url("../assets/images/background/half-typewriter.svg") 100% 90% no-repeat, 
    url("../assets/images/background/pen.svg") 85% 30% no-repeat;
  background-size: 30%, 15%;
  transform: translateX(10%);
}