@import 'reset';

/* 
 * Variables
 */
$font-path: './assets/fonts';

$color-desk: #855532;
$color-titles: #C3272E;
$color-text: #000000;
$color-logos: #C3272E;
$color-paper: #FFFFFF;
$color-polaroid: #EBEBEB;
$color-divider: #C3272E;

$field-inter-space: 1em; // Space between fields
$field-intra-space: $field-inter-space/2; // Space between field name and text
$field-text-space: 1em + $field-inter-space/3; // Space between lines in field text

/* 
 * Fonts
 */
@font-face{
  font-family: veraType;
  src: url('#{$font-path}/veraType.ttf');
}
@font-face{
  font-family: jrhand;
  src: url('#{$font-path}/jrhand.ttf');
}

/* 
 * Mixins
 */
@mixin resizeAspectRatio($height) {
  height: $height;
  width: auto;
}
@mixin twoColumnContent($leftWidth, $rightWidth: calc(100%-#{$leftWidth})) {
  display: inline-block;
  width:100%;
  &>:nth-child(2n-1) {
    width: $leftWidth;
    float: left;
  }
  &>:nth-child(2n) {
    width: $rightWidth;
    float: left;
  }
}

/* 
 * Some styles
 */
body{
  background-color: $color-desk;
}