@import 'reset';

/* 
 * Variables
 */
$font-path: './assets/fonts';

$color-desk: #855532;
$color-titles: #C3272E;
$color-text: #000000;
$color-logos-main: #C3272E;
$color-logos-secondary: #000000;
$color-paper: #FFFFFF;
$color-polaroid: #EBEBEB;
$color-divider: #C3272E;
$color-progress-filled: #C3272E;
$color-progress-empty: #F6DEDF;

$nav-links-size: 1.25rem;
$nav-color-opacity: 0.2;

$field-inter-spacing: 1em; // Spacing between fields
$field-intra-spacing: $field-inter-spacing/3; // Spacing between field name and text
$field-text-spacing: 1em + $field-inter-spacing/3; // Spacing between lines in field text

/* 
 * Fonts
 */
@font-face{
  font-family: veraType;
  src: url('#{$font-path}/veraType.ttf');
}
@font-face{
  font-family: jrhand;
  src: url('#{$font-path}/jrhand.ttf');
}

/* 
 * Mixins
 */
@mixin resizeAspectRatio($height) {
  height: $height;
  width: auto;
}
@mixin twoColumnContent($leftWidth, $rightWidth: calc(100%-#{$leftWidth})) {
  width:100%;
  &>:nth-child(2n-1) {
    width: $leftWidth;
    float: left;
  }
  &>:nth-child(2n) {
    width: $rightWidth;
    float: left;
  }
}

@mixin scrollingWrapper {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  & > div {
    display: inline-block;
    margin-right: 1em;
  }
}

/* 
 * Some styles
 */
body{
  background-color: $color-desk;
}