@import "../../index.scss";

nav {
  display: inline-sblock;
  position: fixed;
  right: 0;
  max-width: 15%;
  min-width: 180px;
  text-align: right;
}

.nav__links {
  display: block;
  background-color: rgba(#000, $nav-color-opacity);
  padding: 1px 1em; // <a> margin will act as top bottom padding
  padding-left: 2em;
  text-align: right;

  a {
    display: block;
    font-family: "veraType";
    color: #fff;
    font-size: $nav-links-size;
    margin: 1em 0;

    transition: color .2s;

    &:hover {
      color: lighten($color-logos-main, 10%);
    }
  }
}

.nav__options {
  text-align: center;
}

.nav__option {
  display: inline-block;
  margin: 1rem;
  margin-bottom: 0;
  color: #fff;
  font-family: "veraType";
  font-size: 1rem;
  text-align: center;
  cursor: pointer;

  span {
    transition: color .2s;
  }

  button {
    display: block;
    height: 3rem;
    width: 3rem;
    border: 0;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2rem;
    background-color: rgba(#000, $nav-color-opacity);
    cursor: pointer;

    color: inherit;
    font-family: inherit;
    font-size: 1.5rem;

    transition: background-color .2s;

    svg {
      vertical-align: middle;
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.nav__option:hover {
  span { color: lighten($color-logos-main, 10%); }
  button { background-color: rgba($color-logos-main, .5); }
}
